<!DOCTYPE html>
<html lang="pt">
{% load static %}
<head>

  <meta charset="UTF-8">
  <title>Controle de Dieta </title>

    <link href= {% static 'css/aplication.css' %} rel="stylesheet" >
    <script src = {% static 'js/myaplication.js' %} > </script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <header class="col-sm-12">
        <h2> Controle de Dieta </h2>

        <div class="link">
          <a href = "#"> Dashboard </a> |
          <a href = "#"> Dieta </a>
        </div>
      </header>
      {% block main %}

      {% endblock %}
    </div>
  </div>





</body>
</html>