<!DOCTYPE html>
<html lang="pt">
{% load static %}
<head>

  <meta charset="UTF-8">
  <title>Controle de Dieta </title>

    <link href= {% static 'css/aplication.css' %} rel="stylesheet" >
    <script src = {% static 'js/myaplication.js' %} > </script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <header class="col-sm-12">
        <h2> Controle de Dieta </h2>

        <!-- so vamos liberar o link de acesso, caso o usuario já esteja eutenticado -->
        {% if user.is_authenticated %}
            <div class="link">
              <a href = "#"> Dashboard </a> |
              <a href = "#"> Dieta </a>

              <a id="ola-usuario" href="{% url 'TelaCadastroUsuario' %}">
                    Olá,  {{ user.first_name }}  {{ user.last_name }}!
              </a>
              ||
              <a id="sair-conta" href = "/accounts/logout/">
                    Sair da conta
              </a>
            </div>


        {% endif %}

      </header>
      {% block main %}

      {% endblock %}
    </div>
  </div>





</body>
</html>