{% extends 'base.html' %}

{% block main %}
{% load static %}

    <!-- se o usuario não estiver autenticado, mostrara as opções de acessar
         sua conta, ou fazer um cadastro -->
    {% if user.is_authenticated %}

    <form   class="form-cadastro"
            action="{% url 'GravaDados'%}"
            name = "cadastro"
            method="POST">

      {% csrf_token %}

      <div class="col-sm-12" id="container-dados">

        <h3 id="titulo-dados"> Dados Gerais </h3>


        <div class="cadastro-dados">

            <div class="fields-dados">
                <div  class="linha1-dados" id = "data-inicio">
                    <label> Data de Inicio : </label>
                    <input id="data_inicio"
                        class="data_inicio"
                        name ="data_inicio"
                        type ="date"
                        value= "{{Dados_gerais.dt_inicio}}"
                    >
                </div>

                <div  class="linha1-dados" id = "data-final">
                    <label> Data Final : </label>
                    <input id="data_final"
                        class="data_final"
                        name ="data_final"
                        type ="date"
                        value= "{{Dados_gerais.dt_final }}"
                    >
                </div>
{{ Dados_gerais.peso }}
                <div  class="linha2-dados" id = "peso-inicial">
                    <label> Peso : </label>
                    <input id="peso_inicial"
                        class="peso_inicial"
                        name ="peso_inicial"
                        type ="number"
                        step="0.01"
                        value= "{{ Dados_gerais.peso }}"
                    >
                </div>

                <div class="linha2-dados" id = "altura-atual" >
                    <label> Altura : </label>
                    <input id="altura_atual"
                        class="altura_atual"
                        name ="altura_atual"
                        type ="number"
                        step="0.01"
                        value= "{{ Dados_gerais.altura }}"
                    >
                </div>

                <div  class="linha3-dados" id = "peso-ideal">
                    <label> Peso Ideal : </label>
                    <input id="peso_ideal"
                        class="peso_ideal"
                        name ="peso_ideal"
                        resultado = "readonly"
                        type ="number"
                        step="0.01"
                        value= "{{ Dados_gerais.peso_ideal }}"
                    >
                </div>


            </div>

        </div>
      </div>

      <div class="col-sm-12" id="container-dieta">
        <h3 id="titulo-dieta"> Dieta </h3>
        <div class="cadastro-dieta">


            <div class="fields-dieta">
                <!--
                <div  class="linha1-dieta" id = "tipo-dieta">
                    <label> Refeição : </label>
                    <input id="tipo_dieta"
                        class="tipo_dieta"
                        name ="tipo_dieta"
                        type ="text"
                        value= ""
                    >
                </div>
                -->
                <div  class="linha1-dieta" id = "tipo-dieta"> 
                    
                                    
                        <label> Refeição : </label>
                        <select id="tipo_dieta">
                            <option value="valor1"> Café  </option> 
                            <option value="valor2"> Almoço</option>
                            <option value="valor3"> Janta </option>
                        </select>
                
                   
                </div>
                <div  class="linha1-dieta" id = "horario-dieta">
                    <label> Horario : </label>
                    <input id="horario_dieta"
                        class="horario_dieta"
                        name ="horario_dieta"
                        type ="time"
                        value= ""
                    >
                </div>


                <div  class="linha2-dieta" id = "descricao-dieta">
                    <label> Descrição : </label>
                  
                  
                    <textarea  id="descricao_dieta" rows="2" cols="87">
                        
                    </textarea>
                </div>




            </div>
           
            <button id="botao-adicionar" type="submit" class="btn btn-success">
                    Adicionar
            </button>
      

        </div>
      </div>
    </form>  

    {% else %}

      <div id="bt-acesso" class = "col-sm-12" >
        <a id="bt-minha-conta" href="/accounts/login/">
            Acessar minha conta
        </a>
        <a id="bt-sem-cadastro" href="{% url 'TelaCadastroUsuario' %}">
            Nao tenho cadastro
        </a>
      </div>

    {% endif %}




{% endblock %}




