body {
    width: 100%;
    margin: 0px;
    /**background: url(img/cvj7.jpg) center; **/
    font-family: sans-serif;
    background-color: #F5F5F5;
}


header{
    width: 100%;
    background-color:#87CEFA;                     /** cor de fundo **/
    height: 130px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 0px;

}

header h2{
    font-size: 25px;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

header .link{
    font-size: 19px;
    padding: 30px 0px 0px 10px;
}

header #ola-usuario{
    font-size: 19px;
    padding: 0px 0px 0px 800px;
}

#bt-acesso {
    width: 100%;
    height: 300px;
    font-size: 22px;
    /**padding: 60px 0px 0px 300px; **/

    justify-content: center;


}

#bt-acesso #bt-minha-conta {
    background-color: #00BFFF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

#bt-acesso #bt-sem-cadastro {
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}



/** --------------------- CADASTRO DE USUARIOS ------------------------**/

.form-cadastro-usuario{

    /** border: 1px outset rgba(255,255,255);    /** borda e cor da borda **/

    height: 430px ;                             /** altura do bloco **/
    width: 100%;                                /** largura **/

    font-size: 18px;                          /** tamanho da fonte **/
    font-weight: bold;                        /** fonte em negrito **/
    color: black;                            /** cor da fonte **/
    text-decoration: none;
    list-style: none;

    padding: 0px 0px 0px 0px;  /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */

    /** background: url(img/carrogrande.png) center no-repeat; **/
    /** background: url(img/carrogrande.png) center; **/
    background-size: 150px 150px;
    background-color: #C0C0C0;                     /** cor de fundo **/
    border-radius: 0px 0px 0px 0px ;         /** arredondamento da borda **/

}

.form-cadastro-usuario h2#cabecalho-cad-usuario{
    font-family: Arial, sans-serif;
    font-size: 33px;
    color: rgba(255,255,255);
    text-shadow: 2px 2px 2px rgba(0,0,0,.6);
    text-align: left;
}

.fields-usuario{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
    line-height:40px;                          /** espaço entre as linhas **/


}

.fields-usuario div input{
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: #fffccc;
    box-shadow: 1px 1px 2px #333333;
    height: 25px;                            /** altuta **/
    text-transform: uppercase;
}

.fields-usuario div#email-us{
    padding-left:90px;                      /** espaço da borda e texto a esquerda **/

}
.fields-usuario div input#email{
    width:600px   ;                 /* tamanho do campo */
    text-transform: none;
}

.fields-usuario div#senha-us{
    padding-left:84px;                      /** espaço da borda e texto a esquerda **/
    text-transform: none;
}
.fields-usuario div input#senha{
    width:200px   ;                 /* tamanho do campo */
    text-transform: none;
}

.fields-usuario div#confsenha-us{
    padding-left:0px;                      /** espaço da borda e texto a esquerda **/
}
.fields-usuario div input#confsenha{
    width:200px   ;                 /* tamanho do campo */
    text-transform: none;
}
.fields-usuario div#primeiro-nome{
    padding-left:12px;                      /** espaço da borda e texto a esquerda **/
}
.fields-usuario div input#primeiro_nome{
    width:300px  ;                  /* tamanho do campo */
}
.fields-usuario div#sobre-nome{
    padding-left:34px;                      /** espaço da borda e texto a esquerda **/

}
.fields-usuario div input#sobre_nome{
    width:300px  ;                  /* tamanho do campo */
}

.form-cadastro-usuario button {

    padding:8px;
    text-decoration: none;
    text-align:center;
    width:135px;
    height:40px;
    display:inline-block;
    border-radius: 3px;
    position:absolute;
    right: 600px;
    bottom:100px;
    box-shadow: 1px 1px 0 1px #363636;


}

.form-cadastro-usuario button#cadastrar {
    color: white;
    background-color: #1E90FF;                  /** cor de fundo **/
    font: bold 16px/24px arial, helvetica, sans-aerif;
    text-shadow: 2px 2px 2px black;

}

.form-cadastro-usuario button#alterar {
    color: white;
    background-color: #FFD700;                     /** cor de fundo **/
    font: bold 16px/24px arial, helvetica, sans-aerif;
    text-shadow: 2px 2px 2px black;


}

.form-cadastro-usuario a#ir-cadastro-cliente {

    position:absolute;
    right: 200px;
    bottom: 100px;


    color: blue;
    font: bold 21px/25px arial, helvetica, sans-aerif;
    text-shadow: 2px 2px 2px white;

}


/** --------------------- CADASTRO DE DADOS DA DIETA ------------------------**/

.container-dados{
    height: 100% ;                             /** altura do bloco **/
    width: 100%;                                /** largura **/
    padding-bottom: 40px;
}

.form-cadastro-dados{


    height: 190px ;                             /** altura do bloco **/
    width: 100%;                                /** largura **/
    margin-left: 0px;

    font-size: 18px;                          /** tamanho da fonte **/
    font-weight: bold;                        /** fonte em negrito **/
    color: black;                            /** cor da fonte **/
    text-decoration: none;
    list-style: none;

    padding: 0px 0px 0px 0px;  /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */

    /** background: url(img/carrogrande.png) center no-repeat; **/
    /** background: url(img/carrogrande.png) center; **/
    background-size: 150px 150px;
    border-top: 2px outset rgba(0,0,0);    /** borda e cor da borda **/
    border-bottom: 2px outset rgba(0,0,0);    /** borda e cor da borda **/
    border-radius: 0px 0px 0px 0px ;         /** arredondamento da borda **/

}

#titulo-dados{
    padding-left:50px;
}

.fields-dados{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
    line-height:45px;                          /** espaço entre as linhas **/


}

.fields-dados div input{
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: #fffccc;
    box-shadow: 1px 1px 2px #333333;
    height: 25px;                            /** altuta **/
    text-transform: uppercase;
}

.linha1-dados{
    float: left;
    margin-top: 20px;
}

.fields-dados div#data-inicio{
    padding-left:50px;                      /** espaço da borda e texto a esquerda **/

}
.fields-dados div input#data_inicio{
    text-transform: none;
}

.fields-dados div#data-final{
    padding-left:400px;                      /** espaço da borda e texto a esquerda **/

}
.fields-dados div input#data_final{
    text-transform: none;
}


.linha2-dados{
    float: left;
}

.fields-dados div#peso-inicial{
    padding-left:124px;                      /** espaço da borda e texto a esquerda **/

}
.fields-dados div input#peso-inicial{
    text-transform: none;
}

.fields-dados div#altura-atual{
    padding-left:383px;                      /** espaço da borda e texto a esquerda **/

}
.fields-dados div input#altura-atual{
    text-transform: none;
}

.linha3-dados{
    float: left;
}

.fields-dados div#peso-ideal{
    padding-left:78px;                      /** espaço da borda e texto a esquerda **/

}
.fields-dados div input#peso-ideal{
    text-transform: none;
}


.form-cadastro-dieta{


    height: 190px ;                             /** altura do bloco **/
    width: 80%;                                /** largura **/
    margin-left: 30px;

    font-size: 18px;                          /** tamanho da fonte **/
    font-weight: bold;                        /** fonte em negrito **/
    color: black;                            /** cor da fonte **/
    text-decoration: none;
    list-style: none;

    padding: 0px 0px 0px 0px;  /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */

    /** background: url(img/carrogrande.png) center no-repeat; **/
    /** background: url(img/carrogrande.png) center; **/
    background-size: 150px 150px;
    border: 2px outset rgba(0,0,0);    /** borda e cor da borda **/
    border-radius: 0px 0px 0px 0px ;         /** arredondamento da borda **/

}

fields-dieta{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
    line-height:45px;                          /** espaço entre as linhas **/


}

.fields-dieta div input{
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: #fffccc;
    box-shadow: 1px 1px 2px #333333;
    height: 25px;                            /** altuta **/
    text-transform: uppercase;
}

#titulo-dieta{
    padding-left:50px;
}

.linha1-dieta{
    float: left;
    margin-top: 20px;
}

.fields-dieta div#tipo-dieta{
    padding-left:78px;                      /** espaço da borda e texto a esquerda **/

}
.fields-dieta div input#tipo_dieta{
    text-transform: none;
}

.fields-dieta div#horario-dieta{
    padding-left:400px;                      /** espaço da borda e texto a esquerda **/

}
.fields-dieta div input#horario_dieta{
    text-transform: none;
}

.linha2-dieta{
    float: left;
}

.fields-dieta div#descricao-dieta{
    padding-left:0px;                      /** espaço da borda e texto a esquerda **/

}
.fields-dieta div input#descricao_dieta{
    text-transform: none;
}












.telaLogin{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: blue;
    text-shadow: 2px 2px 2px white;
    position: absolute;
    top: 192px;
    left: 00px;
    list-style: none;
    text-decoration: none;
   /** border: 1px outset rgba(255,255,255); **/

    height: 100% ;                          /** altura do bloco **/
    width: 100%;
    margin: auto;
    background-color: white;

}
.telaLogin{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: blue;
    text-shadow: 2px 2px 2px white;
    position: absolute;
    top: 192px;
    left: 00px;
    list-style: none;
    text-decoration: none;
   /** border: 1px outset rgba(255,255,255); **/

    height: 100% ;                          /** altura do bloco **/
    width: 100%;
    margin: auto;
    background-color: white;

}


.telaLogin a#naoTenhoCadastro{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #0000FF;
    text-shadow: 5px 5px 5px white;
    position: absolute;
    top: 190px;
    left: 533px;

    padding: 10px 10px 10px 27px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
}
.telaLogin a#naoTenhoCadastro:hover{  /** muda de cor qdo o cursor passa **/
    color: #1E90FF;
}

.telaLogin form{
    height: 22% ;                          /** altura do bloco **/
    width: 35%;
    margin: auto;
    background-color: #DCDCDC;
    border: 12px solid #D3D3D3;
    padding: 40px 0px 0px 150px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
    margin-top: 40px                    /** margem de cima **/


}
.botaoEntrar{

    height: 0% ;                          /** altura do bloco **/
    width: 68%;
    margin: auto;
    padding: 0px 0px 0px 0px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
    margin-top: 10px;


}



