{% extends 'base.html' %}

{% block main %}


<style>
    .telaLogin{
        font-family: Arial, sans-serif;
        font-size: 20px;
        color: blue;
        text-shadow: 2px 2px 2px white;
        position: absolute;
        top: 192px;
        left: 00px;
        list-style: none;
        text-decoration: none;

        height: 100% ;                          /** altura do bloco **/
        width: 100%;
        margin: auto;
        background-color: white;

    }
    .telaLogin{
        font-family: Arial, sans-serif;
        font-size: 20px;
        color: blue;
        text-shadow: 2px 2px 2px white;
        position: absolute;
        top: 192px;
        left: 00px;
        list-style: none;
        text-decoration: none;


        height: 100% ;                          /** altura do bloco **/
        width: 100%;
        margin: auto;
        background-color: white;

    }


    .telaLogin a#nao-tenho-cadastro{
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #0000FF;
        text-shadow: 5px 5px 5px white;
        position: absolute;
        top: 190px;
        left: 530px;

        padding: 10px 10px 10px 27px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
    }
    .telaLogin a#naoTenhoCadastro:hover{  /** muda de cor qdo o cursor passa **/
        color: #1E90FF;
    }

    .telaLogin form{
        height: 22% ;                          /** altura do bloco **/
        width: 35%;
        margin: auto;
        background-color: #DCDCDC;
        border: 12px solid #D3D3D3;
        padding: 40px 0px 0px 150px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
        margin-top: 40px                    /** margem de cima **/


    }
    .botaoEntrar{

        height: 0% ;                          /** altura do bloco **/
        width: 68%;
        margin: auto;
        padding: 0px 0px 0px 0px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
        margin-top: 10px;


    }


</style>

<div class="telaLogin">

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <!--
      <td>{{ form.username.label_tag }}</td>
    -->

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>

              <!--
              <td>{{ form.username.label_tag }}</td>
              -->
              <td> E-Mail </td>
               <td>{{ form.username }}</td>
            </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
        </table>
        <div class="botaoEntrar">
            <input type="submit" value="ACESSAR CONTA">
        </div>

        <input type="hidden" name="next" value="{{ next }}">
    </form>


    <a id="nao-tenho-cadastro" href = "{% url 'TelaCadastroUsuario' %}">
                    Não tenho cadastro
    </a>


    {# Assumes you setup the password_reset view in your URLconf #}
    <!--
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    -->

</div>
{% endblock %}

